.social-login {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  font-family: 'Paperlogy';
  font-weight: 500; /* 일반 텍스트용: 5Medium */
  color: #3f3f3f; /* 기본 글씨 색 */
}

.social-login img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: white;
}

.social-login img:hover {
  transform: scale(1.1);
}
